# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.JwtToken.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\.net\JwtToken\.idea\.idea.JwtToken\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
